<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <nav>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
        <a class="nav-link" href="{% url 'transaction' %}">Transaction</a>
        <a class="nav-link" href="{% url 'add_transaction' %}">Add New</a>
</li>

   </nav>
              <h1>Hello to the website</h1>
</body>
</html>